@charset "EUC-KR";

#content {
	width: 1000px; 
	
}

#cartList {
	width: 1000px;
}

#cartList td {
	height: 100px;
	padding: 10px 0px 10px 0px;
}

#paymentBox{
	display: inline-block;
	padding-right: 20px;
	
}

#paymentBox div {
	display: inline-block;
	margin: 5px;
	width: 100px;
}

td {
	width: 150px;
	
}

.box {
	display: inline-block;
	padding: 10px;
	width: 500px;
}

.box.row {
	display: inline-block;
	width: 480px; height : 30px;
	border-bottom: 1px solid #DBDBDB;
}

.box.label {
	width: 80px;
	vertical-align: middle;
}

label span {
}

.box.text {
	width: 250px;
	vertical-align: middle;
}

.text span {
	display: inline-block;
	width: 300px;
	font-size: 15px;
	border: none;
	float: left;
	outline: none;
}

input.input-2 {
	width: 110px;
	vertical-align: middle;
	padding-right: 30px;
}

.input-2.right {
	float: right;
}



