@charset "EUC-KR";

#content {
	width: 1000px;
}

#cartList {
	width: 1000px;
}

#cartList td {
	height: 100px;
	padding: 10px 0px 10px 0px;
}

.box.row {
	margin-top: 10px;
	display: inline-block;
	width: 480px;
	border-bottom: 1px solid #DBDBDB;
}

.box.row.payment {
	margin-top: 10px;
	display: inline-block;
	width: 350px; height : 100px;
	border-bottom: 1px solid #DBDBDB;
}

.box.row.payment div {
	display: inline-block;
	margin: 5px;
	width: 100px;
}

td {
	width: 130px;
	
}



