@charset "UTF-8";

body{
	max-width: 1561px;
    margin: 0 auto;
    padding-left: 11px;
    padding-right: 11px;
    font: 8px 'S-CoreDream-3Light','NeueHaasDisplay','Roboto','Noto Sans KR','Helvetica','Malgun Gothic',sans-serif;
    color: #555;
    letter-spacing: 0.6px;
    background: #fff;
}

.image a{
	text-decoration: none;
    color: #484848;
    font-size: 8pt;
    margin: 0;
    padding: 0;
  	font-style: inherit;
}

.productName a{
	text-decoration: none;
    color: #484848;
    font-size: 8pt;
    margin: 0;
    padding: 0;
  	font-style: inherit;
}

div{
	margin: 0;
    padding: 0;
}

ul{
	list-style:none;
}

li{
	margin-right: 10pt;
	
}

#content{
	margin: 80pt;
}




/*  */

#header {
    position: fixed;
    top: 20px;
    width: 100%;
    max-width: 1561px;
    height: 36px;
    z-index: 2000;
}

.left_area {
    text-decoration: none;
    color: #484848;
    font-size: 8pt;
    margin: 0;
    padding: 0;
  	font-style: inherit;
}

.top_logo {
    display: table;
    z-index: 3000;
    position: absolute;
    left: 50%;
    top: 0px;
    margin-left: -75px;
}

.right_area {
    position: absolute;
    right: 50px;
    top: 0px;
    z-index: 3000;
}


#footer {
    width: 100%;
    height: 120px;
    position: relative;
    margin: 104px auto 30px;
    padding: 0;
    box-sizing: border-box;
    background-color: #fff;
    font-size: 11px;
    color: #000;
    line-height: 18px;
}

#footer .bt_shopinfo {
    width: 290px;
    padding: 0;
    text-align: left;
    float: right;
}

#footer .bt_shopinfo2 {
    width: 305px;
    padding: 0;
    text-align: left;
    float: right;
}



#wrap.txt {
    margin: 106px auto 0;
}

#wrap {
    position: relative;
    width: 100%;
    margin: 76px auto 0;
}
/*  */

/* list */


/* detail? */

.detail_wrap{
	width: 80%;
	margin: 106px auto 0;
	
}

.detail{
	width: 100%;
    margin: 0 auto;
}

.productImage{
	display: inline-block;
	width: 50%;
	padding-right: 20%;
	
}

.productMenu{
	display: inline-block;
	width: 20%;
	position: fixed;
	right: 120px;
}

h3 {
	margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

/* option */
table{
	width: 100%;
	border-spacing: 0;
    border-collapse: collapse;
    display: table;
    box-sizing: border-box;
    text-indent: initial;
}

.option{
	font-size: 10px;
    margin: 0px 0 0;
    color: #888;
    border: 0;
    float: right;
    width: 100%;
    text-align: left;
}

tbody{
	display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

.options{
	border: 0px solid #000;
    height: 24px;
    margin-bottom: 10px;
    background: #F4F4F4;
    font-size: 10px;
    cursor: pointer;
    padding: 0 10px;
    width: 100%;
    font-weight: 400;
    letter-spacing: 0;
    box-sizing: border-box;
    text-align-last: center;
    text-align: center;
    -ms-text-align-last: center;
    -moz-text-align-last: center;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    text-transform: none !important;
}

.displaynone{
	display: none !important;
}

.selectedOptions{
	display: none;
}

.totalProduct{
	border: none;
	font-size: 9pt;
}

.totalProduct td{
	border: none;
}

.totalProduct tbody{
	float: left;
    position: relative;
    width: 100%;
    padding-top: 16px;
}

.selected{
	border: none;
	outline: none;
}

.optionQuantity{
	border: none;
	outline: none;
}

input{
	font: 8px 'S-CoreDream-3Light','NeueHaasDisplay','Roboto','Noto Sans KR','Helvetica','Malgun Gothic',sans-serif;
	color: #555;
	font-size: 8px;
}



.orderQuantity{
	border: none;
}

.sum{
	border: none;
}

.totalSum{
}

.totalText{
}

.totalPrice{
	border: none;
}

.amount{
	border: none;
}

/* 장바구니 */
.add_button{
	text-align: center;
    width: 100%;
    box-sizing: border-box;
    height: 30px;
    line-height: 28px;
    color: #000;
    background-color: #fff;
    font-size: 11px;
    vertical-align: middle;
    padding: 0;
    font-weight: 400;
    border: 1px solid #000;
    margin-bottom: 10px;
    display: block;
    text-decoration: none;
}

.bagImage{
	height: 200px;
}

/* board(Review, Q&A) */
.board{
	max-width: calc(100% - 300px);
}

.board_warp{
	margin-bottom: 20px;
}

.board_display{
	border-top: 1px solid;
	border-bottom: 1px solid;
	width: 45%;
	border-color: #484848
}

.board_button{
	margin-bottom: 10px;
}

.boardTitle{
	height: 10pt;
	margin-bottom: 10px;
}

.boardContent{
	border-top: 0.5px solid;
	border-bottom: 0.5px solid;
	border-color: #484848;
}

.boardContent tr{
	border-bottom: 0.5px solid;
	border-color: #484848;
}

.boardContent th{
	font-size: 9pt;
	font-weight: normal;
}

.boardContent tbody{
	text-align: center;
}

